.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#parentDiv {
  height:100%;
}

.MuiDrawer-paper {
  position: relative !important;
}

.MuiDrawer-docked {
  height: 100%;
}

.MuiGrid-container {
  height: 100%;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 0px 8px !important;
}

.MuiFilledInput-root {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#addQuoteBtn {
  height: 100%;
  width: 100%;
  background-color: #5BBFBA;
  border-radius: 75px;
  color: white;
  font-weight: bold;
}

#closeRatioID {
  font-size: 9px;
}

#dashboardBg {
  background: linear-gradient(90deg, rgba(91,191,186,1) 0%, rgba(164,212,174,1) 35%, rgba(95,108,175,1) 100%);
}
